* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    margin: 0 auto;
    width: 100%;
    /*max-width: 1200px;*/
}
.row {
    width: 100%;
    /*padding: 10px;*/
}
.row-padding {
    width: 100%;
    padding: 10px;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.col {
    float: left;
    width: 100%;
    /*padding: 10px;*/
    /*border: 1px solid black;*/
    /*background: #e1e2e1;*/
}

@media screen and (min-width: 768px) {
    .one-half,
    .one-fourth,
    .three-eighths {
        width: 50%;
    }
    .one-third,
    .one-sixth {
        width: 33.33%;
    }
    .one-eighth {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .one-half {
        width: 50%;
    }
    .one-third {
        width: 33.33%;
    }
    .two-third {
        width: 66.67%;
    }
    .one-fourth {
        width: 25%;
    }
    .three-fourth {
        width: 75%;
    }

    /*   offsets   */

    .offset-one-half {
        margin-left: 50%;
    }
    .offset-one-third {
        margin-left: 33.33%
    }
    .offset-two-third {
        margin-left: 66.67%;
    }
    .offset-one-fourth {
        margin-left: 25%;
    }
    .offset-three-fourth {
        margin-left: 75%;
    }
}